<app-navbar></app-navbar>
<div class="requestDetails">
    <div class="reqContainer">
        
        <div class="card-body">
            
            <p class="card-text">Name : {{req.empname}}</p>
            <p class="card-text">Purpose : {{req.purpose}}</p>
            <p class="card-text">Applied On : {{req.applied_on}}</p>
            <p class="card-text">From : {{req.applied_from}}</p>
            <p class="card-text">Till : {{req.applied_till}}</p>
            <p class="card-text">Category :{{req.category}} </p>
            <p class="card-text">Status : {{req.status}}</p>
            <p class="card-text">Country : {{req.country}}</p>
            <p class="card-text">Visa Type : {{req.visa_type}}</p>

           


        </div>

        <div class="buttons">
            <button type="button" class="btn btn-primary" (click)="navigateToDash()">Back To Dashboard</button>
        </div><br>
        <div class="buttons">
            <button type="button" class="btn btn-success" >Accept</button>
        </div><br>
            <div class="buttons">
            <button type="button" class="btn btn-danger" >Reject</button>
        </div>
    </div>
</div>