
<app-navbar></app-navbar>
<app-filters
    [all]="getAll()"
    [ap]="getApproved()"
    [rj]="getRejected()"
    [ip]="getInProcess()"
    (filteredOp)="optionChanged($event)"
></app-filters>
<div *ngFor="let req of visaReqs">
    <div class="req-container"
    *ngIf="(filter == 'ap' && req.status=='Approved') || (filter == 'all') ||
                (filter == 'rj' && req.status=='Rejected') || (filter == 'ip' && req.status=='In Process')">
       
        <div class="details-container">
            <div class="name-container" >
                <p><b>Emp Id : {{req.empid}}</b></p>
                <p>Name : {{req.empname}}</p>
                <p>Purpose : {{req.purpose}}</p>
            </div>
            <div class="subdetails-container">
                <p>From : {{req.applied_from}}</p>
                <p>To : {{req.applied_till}}</p>
                <P>Category : {{req.category}}</P>
                <p>Visa Status : {{req.status}}</p>
            </div>
        </div>

        <div class="options">
            <button type="button" class="btn btn-primary" routerLink="view/{{req.reqid}}">View</button>
            
            <button type="button" class="btn btn-warning" (click)="toHrDash()">Back to Dashboard</button>
            
        </div>       
    </div>
</div>