<app-navbar></app-navbar>
<div class="docs">
    <div class=""col-md-4>
        <head>
            <title>Document Upload</title>
          </head>
          <body>
            <h1>Upload Your Documents Here!</h1>
            
            <form action="upload.php" method="post" enctype="multipart/form-data">
                    

                    <label for="name">ADDRESS PROOF &emsp; &emsp;: &emsp; &emsp;</label>
                    <input type="text" name="name" id="name" required>
                    <input type="submit" value="Upload">
                    <br>

                    <label for="name">PHOTOGRAPH &emsp; &emsp;: &emsp; &emsp;</label>
                    <input type="text" name="name" id="name" required>
                    <input type="submit" value="Upload">
                    <br>

                    <label for="name">INVITATION LETTER &emsp; &emsp;: &emsp; &emsp;</label>
                    <input type="text" name="name" id="name" required>
                    <input type="submit" value="Upload">
                    <br>

                    <label for="name">PAYMENT RECIPT &emsp; &emsp;: &emsp; &emsp;</label>
                    <input type="text" name="name" id="name" required>
                    <input type="submit" value="Upload">
                    <br>

              
              
            </form>
          </body>
    </div>
</div>