<div class="container">
    <article class="card">
        <header class="card-header"> My Visa Requests </header>
        <div class="card-body">
            <h6>Request ID: VR45345345435</h6>
            <article class="card">
                <div class="card-body row">
                    <div class="col"> <strong>Request Date</strong> <br>29 nov 2019 </div>
                    <div class="col"> <strong>Requested By:</strong> <br> Abhishek Moharir | <i class="fa fa-phone"></i> ASE </div>
                    <div class="col"> <strong>Status:</strong> <br> Approved By Manager </div>
                    <div class="col"> <strong>Tracking #:</strong> <br> BD045903594059 </div>
                </div>
            </article>
            <div class="track">
                <div class="step active"> <span class="icon"> <i class="fa fa-check"></i> </span> <span class="text">Application Submitted</span> </div>
                <div class="step active"> <span class="icon"> <i class="fa fa-user"></i> </span> <span class="text"> HR Approval</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-truck"></i> </span> <span class="text"> Manager Approval </span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Visa Coordinator</span> </div>
                <div class="step"> <span class="icon"> <i class="fa fa-box"></i> </span> <span class="text">Final Status</span> </div>

            </div>
            <hr>
            <hr>
            <a routerLink="empdash" class="btn btn-warning" data-abc="true"> <i class="fa fa-chevron-left"></i> Back to Dashboard</a>
        </div>
    </article>
</div>